<header class="wrap">
    <a target="_blank" class="fadeIn" href="{{workDetail.attributes.URL}}">
        <img class="mainImg" src="{{serverURL}}{{workDetail.attributes.thum.data.attributes.url}}" alt="">
    </a>
</header>
<main class="wrap work-detail-main">
    <ul class="work-intro fadeUpTrigger">
        <li class="work-intro-d">
            <h2>Project</h2>
            <p>{{workDetail.attributes.project}}</p>
        </li>
        <li class="work-intro-d">
            <h2>Skill</h2>
            <p>{{workDetail.attributes.skill}}</p>
        </li>
        <li class="work-intro-d">
            <h2>Responsive</h2>
            <p>{{workDetail.attributes.responsive}}</p>
        </li>
        <li class="work-intro-d">
            <h2>Duration</h2>
            <p>{{workDetail.attributes.duration}}</p>
        </li>
    </ul>
    <div class="site-github fadeUpTrigger">
        <a target="_blank" class="github" href="{{workDetail.attributes.gitHub}}">Git Hub</a>
        <a target="_blank" class="url" href="{{workDetail.attributes.URL}}">Site URL</a>
    </div>
    <div class="description fadeUpTrigger">
        {{workDetail.attributes.description}}
    </div>
    <img class="fullImg fadeUpTrigger" src="{{serverURL}}{{workDetail.attributes.fullImage.data.attributes.url}}" alt="">
</main>

