<header class="page-top fadeIn"> 
    <div matRipple class="top-cont">
        <h1 class="page-title">WORKS</h1>
    </div>
</header>
<main>
    <div class="area">
        <input type="radio" name="tab_name" id="all" checked>
        <label class="tab_class fadeIn" for="all"><h2>All</h2></label>
        <div class="container content_class">
            <div class="row">
                <div class="workThum col-12 col-md-6 col-xl-4 fadeUp" *ngFor="let work of workList">
                    <div *ngIf="work.attributes.behanceURL; else workDetailLink">
                        <a target="_blank" class="workThumImg" href="{{work.attributes.behanceURL}}">
                            <img src="{{serverURL}}{{work.attributes.workThum.data.attributes.url}}" alt="">
                        </a>
                    </div>
                    <ng-template #workDetailLink>
                        <a target="_blank" class="workThumImg" [routerLink]="['/workDetail', work.attributes.workTag ]">
                            <img src="{{serverURL}}{{work.attributes.workThum.data.attributes.url}}" alt="">
                        </a>
                    </ng-template>
                    <h1 class="workTitle">{{work.attributes.workTitle}}</h1>
                    <p class="workSkills">{{work.attributes.skills}}</p>
                    <p class="workDescription">{{work.attributes.workDescription}}</p>
                </div>
            </div>
        </div>
        <input type="radio" name="tab_name" id="webApp">
        <label class="tab_class fadeIn" for="webApp"><h2>Web App</h2></label>
        <div class="container content_class">
            <div class="row">
                <div class="workThum col-12 col-md-6 col-xl-4 fadeUp" *ngFor="let webApp of webAppList">
                    <a target="_blank" class="workThumImg" [routerLink]="['/workDetail', webApp.attributes.workTag ]">
                        <img src="{{serverURL}}{{webApp.attributes.workThum.data.attributes.url}}" alt="">
                    </a>
                    <h1 class="workTitle">{{webApp.attributes.workTitle}}</h1>
                    <p class="workSkills">{{webApp.attributes.skills}}</p>
                    <p class="workDescription">{{webApp.attributes.workDescription}}</p>
                </div>
            </div>
        </div>
        <input type="radio" name="tab_name" id="webDesign">
        <label class="tab_class fadeIn" for="webDesign"><h2>Web Design</h2></label>
        <div class="container content_class">
            <div class="row">
                <div class="workThum col-12 col-md-6 col-xl-4 fadeUp" *ngFor="let webDesign of webDesignList">
                    <a target="_blank" class="workThumImg" [routerLink]="['/workDetail', webDesign.attributes.workTag ]">
                        <img src="{{serverURL}}{{webDesign.attributes.workThum.data.attributes.url}}" alt="">
                    </a>
                    <h1 class="workTitle">{{webDesign.attributes.workTitle}}</h1>
                    <p class="workSkills">{{webDesign.attributes.skills}}</p>
                    <p class="workDescription">{{webDesign.attributes.workDescription}}</p>
                </div>
            </div>
        </div>
        <input type="radio" name="tab_name" id="uiux">
        <label class="tab_class fadeIn" for="uiux"><h2>UI/UX</h2></label>
        <div class="container content_class">
            <div class="row">
                <div class="workThum col-12 col-md-6 col-xl-4 fadeUp" *ngFor="let uiux of uiuxList">
                    <a target="_blank" class="workThumImg" href="{{uiux.attributes.behanceURL}}">
                        <img src="{{serverURL}}{{uiux.attributes.workThum.data.attributes.url}}" alt="">
                    </a>
                    <h1 class="workTitle">{{uiux.attributes.workTitle}}</h1>
                    <p class="workSkills">{{uiux.attributes.skills}}</p>
                    <p class="workDescription">{{uiux.attributes.workDescription}}</p>
                </div>
            </div>
        </div>
    </div>
</main>