<header class="page-top">
    <div matRipple class="top-cont">
        <h1 class="page-title">WORKS</h1>
    </div>
</header>
<main>
    <div class="area">
        <input type="radio" name="tab_name" id="all" checked>
        <label class="tab_class" for="all"><h2>All</h2></label>
        <div class="container content_class">
            <div class="row">
                <div class="workThum col-12 col-md-6 col-xl-4" *ngFor="let work of workList">
                    <a routerLink="/works">
                        <img src="http://localhost:1337{{work.attributes.workThum.data.attributes.url}}" alt="">
                        <h1 class="workTitle">{{work.attributes.workTitle}}</h1>
                        <p class="workSkills">{{work.attributes.skills}}</p>
                        <p class="workDescription">{{work.attributes.workDescription}}</p>
                    </a>
                </div>
            </div>
        </div>
        <input type="radio" name="tab_name" id="webApp">
        <label class="tab_class" for="webApp"><h2>Web App</h2></label>
        <div class="container content_class">
            <div class="row">
                <div class="workThum col-12 col-md-6 col-xl-4" *ngFor="let webApp of webAppList">
                    <a routerLink="/works">
                        <img src="http://localhost:1337{{webApp.attributes.workThum.data.attributes.url}}" alt="">
                        <h1 class="workTitle">{{webApp.attributes.workTitle}}</h1>
                        <p class="workSkills">{{webApp.attributes.skills}}</p>
                        <p class="workDescription">{{webApp.attributes.workDescription}}</p>
                    </a>
                </div>
            </div>
        </div>
        <input type="radio" name="tab_name" id="webDesign">
        <label class="tab_class" for="webDesign"><h2>Web Design</h2></label>
        <div class="container content_class">
            <div class="row">
                <div class="workThum col-12 col-md-6 col-xl-4" *ngFor="let webDesign of webDesignList">
                    <a routerLink="/works">
                        <img src="http://localhost:1337{{webDesign.attributes.workThum.data.attributes.url}}" alt="">
                        <h1 class="workTitle">{{webDesign.attributes.workTitle}}</h1>
                        <p class="workSkills">{{webDesign.attributes.skills}}</p>
                        <p class="workDescription">{{webDesign.attributes.workDescription}}</p>
                    </a>
                </div>
            </div>
        </div>
        <input type="radio" name="tab_name" id="uiux">
        <label class="tab_class" for="uiux"><h2>UI/UX</h2></label>
        <div class="container content_class">
            <div class="row">
                <div class="workThum col-12 col-md-6 col-xl-4" *ngFor="let uiux of uiuxList">
                    <a routerLink="/works">
                        <img src="http://localhost:1337{{uiux.attributes.workThum.data.attributes.url}}" alt="">
                        <h1 class="workTitle">{{uiux.attributes.workTitle}}</h1>
                        <p class="workSkills">{{uiux.attributes.skills}}</p>
                        <p class="workDescription">{{uiux.attributes.workDescription}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>