<header class="page-top fadeIn">
    <div matRipple class="top-cont">
        <h1 class="page-title">ABOUT</h1>
    </div>
</header>
<main>
    <section class="about-profile wrap">
        <img class="profilePic fadeIn" src="../../assets/img/profileAbout.png" alt="">
        <div class="profileText">
            <h1 class="profileName fadeUpTrigger">MIZUIKI AKIMOTO</h1>
            <p class="profileDesc fadeUpTrigger">1995年生まれ。千葉県出身。2017年に国際系の大学を卒業後、バックエンドエンジニア、フロントエンジニアを計6年ほど経験後に、ウェブデザイナーもしくはUIUXデザイナーへのキャリアチェンジを目指してカナダのweb開発専門学校にて1年間留学中。お菓子を食べること、ダンス、お笑い、海を見ることが好き</p>
        </div>
    </section>
    <section class="about-career sp-tb">
        <div class="about-career-cont wrap">
            <h1 class="section-title fadeUpTrigger">CAREER</h1>
            <div class="career-cont fadeUpTrigger" *ngFor="let career of careerList">
                <h3 class="career-year">{{career.attributes.year}}</h3>
                <h2 class="career-company">{{career.attributes.company}}</h2>
                <p class="career-desc">{{career.attributes.description}}</p>
            </div>
        </div>
    </section>
    <section class="about-career pc-only wrap">
        <h1 class="section-title fadeUpTrigger">CAREER</h1>
        <div class="about-career-cont">
            <div class="career-cont fadeUpTrigger" *ngFor="let career of careerList">
                <h3 class="career-year">{{career.attributes.year}}</h3>
                <h2 class="career-company">{{career.attributes.company}}</h2>
                <p class="career-desc">{{career.attributes.description}}</p>
            </div>
        </div>
    </section>
    <section class="about-skills wrap">
        <div class="skill-cont">
            <div class="container">
                <div class="row">
                    <div class="skill col-4 col-md-3 col-xl-2 fadeUpTrigger" *ngFor="let skill of skillList">
                        <img class="skillIcon" src="{{serverURL}}{{skill.attributes.skillIcon.data.attributes.url}}" alt="">
                        <p class="skillName">{{skill.attributes.name}}</p>
                    </div>
                </div>
            </div>
            <h1 class="section-title fadeUpTrigger">SKILLS</h1>
        </div>
    </section>
</main>